.about-me {
	position: relative;
	@include adaptiveValue("padding-top", 80, 60);
	@include adaptiveValue("margin-bottom", 180, 80);

	// .about-me__container
	&__container {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(20);
			opacity: 0.3;
		}
		&::before {
			content: "<section>";
			top: -44px;
			left: 10px;
			@media (max-width: $mobileSmall) {
				top: -40px;
			}
		}
		&::after {
			content: "</section>";
			bottom: -70px;
			left: 18px;
		}
	}
	// .about-me__title
	&__title {
		color: var(--mainColor);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 45);
		}
	}
	// .about-me__body
	&__body {
		display: grid;
		align-items: center;
		@include adaptiveValue("column-gap", 80, 30, 0, 1170, 991);
		row-gap: rem(40);
		@media (min-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .about-me__description
	&__description {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
		}
		&::before {
			content: "<p>";
			left: 4px;
			top: -23px;
		}
		&::after {
			content: "</p>";
			left: -6px;
			margin-top: rem(5);
		}
	}
	// .about-me__heading
	&__heading {
		opacity: 0;
		font-size: rem(24);

		color: var(--hoverColorButton);
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
		._watcher-view & {
			transition: opacity 1.5s ease 0.3s;
			opacity: 1;
		}
	}
	&__text,
	&__sub-text {
		font-size: 16px;
		line-height: math.div(26, 18);
	}
	// .about-me__text
	&__text {
		opacity: 0;
		&:not(:last-child) {
			margin-bottom: em(15);
		}
		._watcher-view & {
			transition: opacity 1.5s ease 0.5s;
			opacity: 1;
		}
	}
	// .about-me__sub-text
	&__sub-text {
		opacity: 0;
		&:not(:last-child) {
			margin-bottom: em(15);
		}
		._watcher-view & {
			transition: opacity 1.5s ease 0.7s;
			opacity: 1;
		}
	}
}

.contact-link {
	color: var(--hoverColorButton);
	font-size: rem(16);
}
