.all-portfolio {
	@include adaptiveValue("padding-top", 180, 120);
	@include adaptiveValue("padding-bottom", 120, 60);
	// .all-portfolio__container
	&__container {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
		}
		&::before {
			content: "<html>";
			top: -90px;
			left: 5px;
			@media (max-width: $tablet) {
				top: -75px;
			}
			@media (max-width: $mobile) {
				top: -55px;
			}
			@media (max-width: $mobileSmall) {
				top: -40px;
			}
		}
		&::after {
			content: "<body>";
			top: -65px;
			left: 32px;
			@media (max-width: $tablet) {
				top: -55px;
			}
			@media (max-width: $mobile) {
				top: -35px;
			}
			@media (max-width: $mobileSmall) {
				top: -20px;
			}
		}
	}
	// .all-portfolio__filters
	&__filters {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}
}
.filter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: rem(20);
	@include adaptiveValue("column-gap", 50, 25, 0, 1170, 991);
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}
	// .filter__list
	&__list {
	}
	// .filter__button
	&__button {
		text-transform: uppercase;
		font-weight: 500;
		font-size: rem(18);
		padding: 5px;
		&.active {
			color: var(--hoverColorLink);
		}
	}
}

.portfolio-body {
	display: grid;
	column-gap: rem(20);
	row-gap: rem(30);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 80, 45);
	}

	@media (min-width: $mobileSmall) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (min-width: $tablet) {
		grid-template-columns: repeat(3, 1fr);
	}
	// .portfolio-body__box
	&__box {
		// portfolio-body__box_animate
		&_animate {
			opacity: 0;
			transform: translate(5%, 5%);
			transition: all 1s ease 0.3s;
			&._watcher-view {
				opacity: 1;
				transform: translate(0%, 0%);
				transition: all 1s ease 0.3s;
			}
		}
		&.hiden {
			display: none;
		}
	}
}
