// Заголовки, общие БЭМ блоки и прочее...
.page {
	// .page__hero
	&__hero {
	}
	// .page__about-me
	&__about-me {
	}
	// .page__skills
	&__skills {
	}
	// .page__portfolio
	&__portfolio {
	}
	// .page__contacts
	&__contacts {
	}
	// .page__all-portfolio
	&__all-portfolio {
	}
}
//========================================================================================================================================================
.change-theme {
	&._icon-sun,
	&._icon-moon {
		transition: color 0.3s;
	}
}
//========================================================================================================================================================
.btn-indicator {
	// .btn-indicator__sun
	&__sun {
		position: relative;
		z-index: 10;
		font-size: rem(28);
		border-radius: 50%;
		height: rem(30);
		width: rem(30);
		box-shadow: 0 0 0 0 rgba(250, 255, 17, 1);
		animation: pulse-white 2s infinite;
		transition: color 0.3s ease;
		@media (max-width: $mobile) {
			margin-right: 30px;
		}

		&._icon-moon {
			@media (any-hover: hover) {
				&:hover {
					color: var(--hoverColorLink);
				}
			}
		}

		&._icon-sun {
			@media (any-hover: hover) {
				&:hover {
					color: var(--hoverColorLink);
				}
			}
		}
		@keyframes pulse-white {
			0% {
				box-shadow: 0 0 0 0 rgba(250, 255, 17, 0.7);
			}

			70% {
				box-shadow: 0 0 0 10px rgba(250, 255, 17, 0);
			}

			100% {
				box-shadow: 0 0 0 0 rgba(250, 255, 17, 0);
			}
		}
	}
}
//========================================================================================================================================================
.label {
	font-weight: 700;
	display: inline-block;
	@include adaptiveValue("margin-left", 30, 15);
	@include adaptiveValue("font-size", 100, 40);
	span {
		margin-left: rem(-30);
		@media (max-width: $tablet) {
			margin-left: -11px;
		}
		//@media (max-width: $mobile) {
		//	margin-left: -15px;
		//}
	}
	// .label__pop
	&__pop {
		display: inline-block;
		@keyframes rubberBand {
			0% {
				transform: scale3d(1, 1, 1);
			}
			30% {
				transform: scale3d(1.25, 0.75, 1);
			}
			40% {
				transform: scale3d(0.75, 1.25, 1);
			}
			50% {
				transform: scale3d(1.15, 0.85, 1);
			}
			65% {
				transform: scale3d(0.95, 1.05, 1);
			}
			75% {
				transform: scale3d(1.05, 0.95, 1);
			}
			100% {
				transform: scale3d(1, 1, 1);
			}
		}
		// .label__pop_mr
		&_mr {
			margin-right: rem(20);
		}
		// .label__pop_red
		&_red {
			color: var(--hoverColorLink);
			&.rubberBand {
				color: var(--pointerrColorText);
			}
		}
	}
}
.rubberBand {
	animation: rubberBand 1s ease-in-out;
	color: var(--pointerrColorText);
}
//========================================================================================================================================================
.title {
	// .title__label
	&__label {
		position: relative;
		display: inline-block;
		opacity: 0;
		@include adaptiveValue("font-size", 70, 44);
		margin-left: 13px;
		font-weight: 600;
		span {
			margin-left: -17px;
			@media (max-width: $tablet) {
				margin-left: -15px;
			}
		}
		// .title__label_red
		&_red {
			color: var(--hoverColorLink);
		}
		._watcher-view & {
			transition: opacity 1.5s ease 0.3s;
			opacity: 1;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			font-weight: 400;
			opacity: 0.3;
			color: var(--mainColor);
		}
		&::before {
			content: "<h2>";
			left: -12px;
			top: -10px;
		}
		&::after {
			content: "</h2>";
			bottom: -22px;
			right: -55px;
		}
	}
	// .title__value
	&__value {
	}
}
//========================================================================================================================================================
.skills-bar {
	width: 100%;
	color: var(--mainColor);
	// .skills-bar__lists
	&__lists {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 15);
		}
	}
	// .skills-bar__list
	&__list {
		text-transform: uppercase;
		margin-bottom: rem(10);
	}
}
.bar {
	background-color: var(--bgColorDark);
	display: block;
	height: 2px;
	border-radius: 3px;
	box-shadow: 0 0 5px var(--hoverColorButton);
	span {
		height: 2px;
		float: left;
		display: flex;
		align-items: center;
		background-color: var(--hoverColorButton);
	}
}

.html {
	width: 93%;
	&._watcher-view {
		animation: html 2s ease 0.2s;
	}
}
.scss {
	width: 85%;
	&._watcher-view {
		animation: scss 2s ease 0.2s;
	}
}
.javascript {
	width: 60%;
	&._watcher-view {
		animation: javascript 2s ease 0.2s;
	}
}
.flexbox {
	width: 80%;
	&._watcher-view {
		animation: flexbox 2s ease 0.2s;
	}
}
.grid {
	width: 75%;
	&._watcher-view {
		animation: grid 2s ease 0.2s;
	}
}
@keyframes html {
	0% {
		width: 0%;
	}

	100% {
		width: 93%;
	}
}

@keyframes scss {
	0% {
		width: 0%;
	}

	100% {
		width: 85%;
	}
}

@keyframes javascript {
	0% {
		width: 0%;
	}

	100% {
		width: 60%;
	}
}

@keyframes flexbox {
	0% {
		width: 0%;
	}

	100% {
		width: 75%;
	}
}
@keyframes grid {
	0% {
		width: 0%;
	}

	100% {
		width: 75%;
	}
}
//========================================================================================================================================================
::-webkit-scrollbar {
	width: 0.6rem;
	border-radius: 0.5rem;
	background-color: hsl(19deg, 8%, 15%);
}
::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background-color: hsl(19deg, 8%, 25%);
}
::-webkit-scrollbar-thumb:hover {
	background-color: hsl(19deg, 8%, 35%);
}
//========================================================================================================================================================
.dark-theme::-webkit-scrollbar {
	background-color: hsl(19deg, 8%, 75%);
}
.dark-theme::-webkit-scrollbar-thumb {
	background-color: hsl(19deg, 8%, 65%);
}
.dark-theme::-webkit-scrollbar-thumb:hover {
	background-color: hsl(19deg, 8%, 55%);
}
//========================================================================================================================================================
.go-top {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: rem(85);
	right: rem(25);
	width: rem(40);
	height: rem(40);
	pointer-events: none;
	transform: translateY(20px);
	color: var(--mainColor);
	border: rem(1) solid var(--mainColor);
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	z-index: 2;
	&:before {
		@extend %ic;
		content: "\e901";
		transform: rotate(-90deg);
		font-size: rem(14);
	}
	&.active {
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
	}
}
//========================================================================================================================================================
.video-slide {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
