.contacts {
	position: relative;
	@include adaptiveValue("padding-top", 100, 60);
	@include adaptiveValue("padding-bottom", 100, 40);
	color: #fcfdff;

	// .contacts__container
	&__container {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(20);
			opacity: 0.3;
		}
		&::before {
			content: "<section>";
			top: -44px;
			left: 10px;
			@media (max-width: $mobileSmall) {
				top: -40px;
			}
		}
		&::after {
			content: "</section>";
			bottom: -70px;
			left: 18px;
			@media (max-width: $mobile) {
				bottom: -40px;
			}
			@media (max-width: $mobileSmall) {
				bottom: -30px;
			}
		}
	}
	// .contacts__title
	&__title {
		color: var(--mainColor);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 45);
		}
	}
	// .contacts__grid
	&__grid {
		display: grid;
		column-gap: rem(300);
		@include adaptiveValue("column-gap", 300, 60, 1, $maxWidthContainer, 768);
		row-gap: rem(30);
		grid-template-columns: auto;
		@media (min-width: $mobile) {
			grid-template-columns: minmax(max-content, min-content) 1fr;
		}
		@media (min-width: $tablet) {
			//grid-template-columns: repeat(3, 1fr);
			//grid-template-rows: repeat(2, 1fr);
		}
	}
	// .contacts__description
	&__description {
		position: relative;
		@include adaptiveValue("font-size", 20, 18);
		color: var(--mainColor);
		line-height: math.div(30, 20);
		max-width: rem(840);
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
		opacity: 0;
		@include adaptiveValue("font-size", 16, 12);
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
		}
		&::before {
			content: "<p>";
			left: 4px;
			top: -23px;
		}
		&::after {
			content: "</p>";
			left: 3px;
			margin-top: rem(5);
		}
		._watcher-view & {
			transition: opacity 1.5s ease 0.5s;
			opacity: 1;
		}
		p {
			&:not(:last-child) {
				margin-bottom: em(6);
			}
		}
	}
	// .contacts__kwork-description
	&__kwork-description {
		color: var(--mainColor);
		@include adaptiveValue("font-size", 22, 18);
		&:not(:last-child) {
			margin-bottom: em(15);
		}
	}
	// .contacts__item
	&__item {
	}
	// .contacts__lists
	&__lists {
		display: flex;
		align-items: center;
		column-gap: rem(30);
	}
	// .contacts__list
	&__list {
	}
	// .contacts__link
	&__link {
	}
	// .contacts__block
	&__block {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}

	// .contacts__codepen
	&__codepen {
	}
	// .contacts__codepen-link
	&__codepen-link {
		display: inline-block;
		@media (any-hover: hover) {
			&:hover {
				svg {
					stroke: var(--hoverColorLink);
				}
			}
		}
	}

	// .contacts__kwork
	&__kwork {
	}
	// .contacts__kwork-link
	&__kwork-link {
	}
}

.item-contacts {
	&:not(:last-child) {
		margin-bottom: rem(30);
	}
	// .item-contacts__link
	&__link {
		position: relative;
		display: inline-block;
		@include adaptiveValue("width", 80, 60);
		@include adaptiveValue("height", 80, 60);
	}

	// .item-contacts__telegram
	&__telegram {
		@media (any-hover: hover) {
			&:hover {
				.item-contacts__circle {
					fill: #fcfdff;
					fill-opacity: 1;
					animation:
						outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
						colorTelegram 1s linear forwards;
				}
				.item-contacts__social {
					color: #229ad5;
				}
			}
		}
		@keyframes colorTelegram {
			from {
				stroke: #fcfdff;
			}
			to {
				stroke: #229ad5;
			}
		}
	}
	// .item-contacts__discord
	&__discord {
		@media (any-hover: hover) {
			&:hover {
				.item-contacts__circle {
					fill: #fcfdff;
					fill-opacity: 1;
					animation:
						outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
						colorDiscord 1s linear forwards;
				}
				.item-contacts__social {
					color: #5865f2;
				}
			}
		}
		@keyframes colorDiscord {
			from {
				stroke: #fcfdff;
			}
			to {
				stroke: #5865f2;
			}
		}
	}
	// .item-contacts__viber
	&__viber {
		@media (any-hover: hover) {
			&:hover {
				.item-contacts__circle {
					fill: #fcfdff;
					fill-opacity: 1;
					animation:
						outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
						colorViber 1s linear forwards;
				}
				.item-contacts__social {
					color: #7360f2;
				}
			}
		}
		@keyframes colorViber {
			from {
				stroke: #fcfdff;
			}
			to {
				stroke: #7360f2;
			}
		}
	}
	// .item-contacts__linkedin
	&__linkedin {
		@media (any-hover: hover) {
			&:hover {
				.item-contacts__circle {
					fill: #fcfdff;
					fill-opacity: 1;
					animation:
						outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
						colorLinkedin 1s linear forwards;
				}
				.item-contacts__social {
					color: #0a66c2;
				}
			}
		}
		@keyframes colorLinkedin {
			from {
				stroke: #fcfdff;
			}
			to {
				stroke: #0a66c2;
			}
		}
	}
	// .item-contacts__github
	&__github {
		@media (any-hover: hover) {
			&:hover {
				.item-contacts__circle {
					fill: #adbac7;
					fill-opacity: 1;
					animation:
						outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
						colorGithub 1s linear forwards;
				}
				.item-contacts__social {
					color: #1c2128;
				}
			}
		}
		@keyframes colorGithub {
			from {
				stroke: var(--mainColor);
			}
			to {
				stroke: #47474a;
			}
		}
	}
	// .item-contacts__facebook
	&__facebook {
		@media (any-hover: hover) {
			&:hover {
				.item-contacts__circle {
					fill: #fcfdff;
					fill-opacity: 1;
					animation:
						outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
						colorFacebook 1s linear forwards;
				}
				.item-contacts__social {
					color: #0f90f3;
				}
			}
		}
		@keyframes colorFacebook {
			from {
				stroke: #fcfdff;
			}
			to {
				stroke: #0f90f3;
			}
		}
	}
	// .item-contacts__circle
	&__circle {
		fill: none;
		stroke: var(--mainColor);
		stroke-width: rem(5);
		stroke-dasharray: rem(40);
		transition: all 0.2s ease-in-out;
		animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
	}
	// .item-contacts__social
	&__social {
		position: absolute;
		top: 50%;
		left: 50%;
		color: var(--mainColor);
		transform: translate(-50%, -50%);
		transition: all 0.4s ease-in-out;

		._icon-telegram,
		._icon-discord,
		._icon-viber,
		._icon-linkedin,
		._icon-github,
		._icon-facebook {
			position: relative;
			display: inline-block;
			@include adaptiveValue("font-size", 26, 20);
		}
	}
	@keyframes outWaveIn {
		to {
			stroke-width: 10px;
			stroke-dasharray: 400;
		}
	}
	@keyframes outWaveOut {
		from {
			stroke-width: 10px;
			stroke-dasharray: 400;
		}
		to {
			stroke: var(--mainColor);
			stroke-width: 5px;
			stroke-dasharray: 40;
		}
	}
}

.contact__mail {
	position: relative;
	//background-color: var(--bgColorHeaderDark);
	//padding: 80px 24px 40px;
	transition: background-color 0.4s;
}

.contact__form,
.contact__group {
	display: grid;
	row-gap: 25px;
}
.contact__form {
	position: relative;
}
.contact__group {
}
.contact__box {
	position: relative;
	width: 100%;
	height: 50px;
}
.contact__input,
.contact__button {
	outline: none;
	border: none;
}

.contact__input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 8px 16px;
	background-color: var(--bgColorHeaderDark);
	border: var(--email-form-border);
	color: var(--mainColor);

	transition:
		border 0.4s,
		background-color 0.2s;
}

.contact__input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
	color: var(--mainColor);
}

.contact__input::placeholder {
	color: var(--mainColor);
	transition: opacity 0.2s;
}
.contact__input:focus {
	border: var(--email-form-border-focus);
}

.contact__label {
	position: absolute;
	top: 8px;
	left: 10px;
	padding: 8px;
	color: var(--mainColor);
	font-size: 12px;
	background-color: var(--bgColorHeaderDark);
	pointer-events: none;
	opacity: 0;
	transition:
		top 0.4s,
		opacity 0.4s,
		background-color 0.4s;
}
.contact__area {
	position: relative;
	height: 160px;
}
.contact__area textarea {
	resize: none;
	padding-top: 1rem;
}

.contact__input:focus::placeholder {
	opacity: 0;
}

.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label {
	opacity: 1;
	top: -16px;
}

.contact__message {
	position: absolute;
	bottom: -20px;
	left: 10px;
	font-size: 10px;
}

.contact__send {
	margin-top: 15px;
	margin-bottom: 20px;
}
