.hero {
	position: relative;
	background-color: var(--bgColorDark); /* fallback for old browsers */
	@include adaptiveValue("padding-top", 260, 230);
	margin-bottom: 40px;
	// .hero__container
	&__container {
		position: relative;
		z-index: 10;

		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
		}
		&::before {
			content: "<html>";
			top: -32%;
			left: 15px;
		}
		&::after {
			content: "<body>";
			top: -22%;
			left: 32px;
		}
	}
	// .hero__body
	&__body {
	}
	// .hero__heading
	&__heading {
		display: flex;
		flex-direction: column;
		row-gap: rem(30);
		flex: 1 1 auto;
		margin-bottom: rem(80);
	}
}
.heading {
	// .heading__label
	&__label {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
			font-weight: 400;
		}
		&::before {
			content: "<h1>";
			margin-top: -12px;
			left: -28px;
		}
		&::after {
			content: "</h1>";
			@include adaptiveValue("margin-left", 20, 5);
			@include adaptiveValue("margin-top", 100, 40);
		}
	}
	// .heading__value
	&__value {
	}
	// .heading__sub-text
	&__sub-text {
		position: relative;
		@include adaptiveValue("font-size", 26, 20);
		line-height: math.div(34, 26);
		font-family: "Nunito";
		padding-left: rem(20);
		opacity: 0.7;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
		}
		&::before {
			content: "<p>";
			left: 4px;
			top: -23px;
		}
		&::after {
			content: "</p>";
			left: -6px;
			margin-top: 40px;
		}
	}
}
