//====================================================================================================
.hero {
	position: relative;
	background-color: var(--bgColorDark); /* fallback for old browsers */
	@include adaptiveValue("padding-top", 180, 140);
	@include adaptiveValue("margin-bottom", 160, 40);

	// .hero__container
	&__container {
		position: relative;
		z-index: 10;

		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
		}
		&::before {
			content: "<html>";
			top: -18%;
			left: 5px;
		}
		&::after {
			content: "<body>";
			top: -13%;
			left: 32px;
		}
	}
	// .hero__body
	&__body {
	}
	// .hero__heading
	&__heading {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		row-gap: rem(30);
		margin-bottom: rem(80);
	}
}
.heading {
	// .heading__label
	&__label {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
			font-weight: 400;
		}
		&::before {
			content: "<h1>";
			margin-top: -8px;
			left: -30px;
		}
		&::after {
			content: "</h1>";
			@include adaptiveValue("margin-left", 20, 5);
			@include adaptiveValue("margin-top", 100, 40);
		}
	}
	// .heading__value
	&__value {
	}
	// .heading__sub-text
	&__sub-text {
	}
}
//====================================================================================================
.about-me {
	position: relative;
	@include adaptiveValue("padding-top", 80, 40);
	@include adaptiveValue("margin-bottom", 180, 80);

	// .about-me__container
	&__container {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(20);
			opacity: 0.3;
		}
		&::before {
			content: "<section>";
			top: -44px;
			left: 10px;
			@media (max-width: $mobileSmall) {
				top: -40px;
			}
		}
		&::after {
			content: "</section>";
			bottom: -70px;
			left: 18px;
		}
	}
	// .about-me__title
	&__title {
		color: var(--mainColor);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 45);
		}
	}
	// .about-me__body
	&__body {
		display: grid;
		align-items: center;
		@include adaptiveValue("column-gap", 80, 30, 0, 1170, 991);
		row-gap: rem(40);
		@media (min-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .about-me__description
	&__description {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(18);
			opacity: 0.3;
		}
		&::before {
			content: "<p>";
			left: 4px;
			top: -23px;
		}
		&::after {
			content: "</p>";
			left: -6px;
			margin-top: rem(5);
		}
	}
	// .about-me__heading
	&__heading {
		opacity: 0;
		font-size: rem(24);

		color: var(--hoverColorButton);
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
		._watcher-view & {
			transition: opacity 1.5s ease 0.3s;
			opacity: 1;
		}
	}
	&__text,
	&__sub-text {
		font-size: 16px;
		line-height: math.div(26, 18);
	}
	// .about-me__text
	&__text {
		opacity: 0;
		&:not(:last-child) {
			margin-bottom: em(15);
		}
		._watcher-view & {
			transition: opacity 1.5s ease 0.5s;
			opacity: 1;
		}
	}
	// .about-me__sub-text
	&__sub-text {
		opacity: 0;
		&:not(:last-child) {
			margin-bottom: em(15);
		}
		._watcher-view & {
			transition: opacity 1.5s ease 0.7s;
			opacity: 1;
		}
	}
}

.contact-link {
	color: var(--hoverColorButton);
	font-size: rem(16);
}
//========================================================================================================================================================
.skills {
	position: relative;
	padding-top: rem(60);
	@include adaptiveValue("padding-bottom", 160, 60);
	// .skills__container
	&__container {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(20);
			opacity: 0.3;
		}
		&::before {
			content: "<section>";
			top: -44px;
			left: 10px;
			@media (max-width: $mobileSmall) {
				top: -40px;
			}
		}
		&::after {
			content: "</section>";
			bottom: -70px;
			left: 18px;
		}
	}
	// .skills__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 35);
		}
	}
	// .skills__marquee
	&__marquee {
	}
	// .skills__hidden
	&__hidden {
	}

	// .skills__card
	&__card {
		display: grid;
		column-gap: rem(30);
		row-gap: rem(30);
		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}
}

.card {
	// .card__items
	&__items {
		transform: translate(450%, 10%) rotate(90deg);
		box-shadow: var(--boxShadowCards);

		&:nth-child(1) {
			._watcher-view & {
				transition: all 0.2s ease 0.2s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(2) {
			._watcher-view & {
				transition: all 0.3s ease 0.3s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(3) {
			._watcher-view & {
				transition: all 0.4s ease 0.4s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(4) {
			._watcher-view & {
				transition: all 0.5s ease 0.5s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(5) {
			._watcher-view & {
				transition: all 0.6s ease 0.6s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(6) {
			._watcher-view & {
				transition: all 0.7s ease 0.7s;
				transform: translate(0, 0);
			}
		}
		//.items_border-red
		&_border-red {
			border-top: 2px solid var(--hoverColorLink);
		}
		//.items_border-yellow
		&_border-yellow {
			border-top: 2px solid var(--pointerrColorText);
		}
		//.items_border-blue
		&_border-blue {
			border-top: 2px solid var(--hoverColorButton);
		}
	}
	// .card__item
	&__item {
		padding: rem(25);
	}
	// .card__heading
	&__heading {
		font-size: rem(18);
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: em(15);
		}
		// .card__heading_color-red
		&_color-red {
			color: var(--hoverColorLink);
		}
		// .card__heading_color-yellow
		&_color-yellow {
			color: var(--pointerrColorText);
		}
		// .card__heading_color-blue
		&_color-blue {
			color: var(--hoverColorButton);
		}
	}
	// .card__lists
	&__lists {
		display: flex;
		flex-direction: column;
		row-gap: rem(10);
	}
	// .card__list
	&__list {
	}
}

:root {
	--marquee-width: 100%;
	--marquee-height: 70px;
	--marquee-elements-displayed: 5;
	--marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
	--marquee-animation-duration: calc(var(--marquee-elements) * 2.5s);
}
.marquee {
	opacity: 0;
	position: relative;
	overflow: hidden;
	width: var(--marquee-width);
	height: var(--marquee-height);
	color: var(--mainColor);
	._watcher-view & {
		transition: opacity 1.5s ease 0.5s;
		opacity: 1;
	}
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 50, 30);
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 1;
		width: rem(160);
	}
	&::before {
		content: "";
		left: 0;
		background: linear-gradient(to right, var(--bgColorDark) 10%, transparent 100%);
	}
	&::after {
		content: "";
		right: 0;
		background: linear-gradient(to left, var(--bgColorDark) 10%, transparent 100%);
	}
	// .marquee__content
	&__content {
		height: 100%;
		display: flex;
		animation: scrolling var(--marquee-animation-duration) linear infinite;
	}
	// .marquee__list
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: var(--marquee-element-width);
		max-height: 100%;
		@include adaptiveValue("font-size", 40, 30);
		white-space: nowrap;
	}
	@keyframes scrolling {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
		}
	}
}
@media (max-width: $mobile) {
	:root {
		--marquee-elements-displayed: 4;
	}
}
@media (max-width: $mobileSmall) {
	:root {
		--marquee-elements-displayed: 3;
	}
}
