.skills {
	position: relative;
	padding-top: rem(60);
	@include adaptiveValue("margin-bottom", 160, 60);
	// .skills__container
	&__container {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			font-family: "LaBelleAurore", cursive;
			font-size: rem(20);
			opacity: 0.3;
		}
		&::before {
			content: "<section>";
			top: -44px;
			left: 10px;
			@media (max-width: $mobileSmall) {
				top: -40px;
			}
		}
		&::after {
			content: "</section>";
			bottom: -70px;
			left: 18px;
		}
	}
	// .skills__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 35);
		}
	}
	// .skills__marquee
	&__marquee {
	}

	// .skills__card
	&__card {
		display: grid;
		column-gap: rem(30);
		row-gap: rem(30);
		grid-template-rows: repeat(6, 1fr);
		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}
}
.card {
	overflow: hidden;
	padding: 5px;
	// .card__items
	&__items {
		transform: translate(450%, 10%) rotate(90deg);
		box-shadow: var(--boxShadowCards);
		height: 100%;

		&:nth-child(1) {
			._watcher-view & {
				transition: all 0.2s ease 0.2s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(2) {
			._watcher-view & {
				transition: all 0.3s ease 0.3s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(3) {
			._watcher-view & {
				transition: all 0.4s ease 0.4s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(4) {
			._watcher-view & {
				transition: all 0.5s ease 0.5s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(5) {
			._watcher-view & {
				transition: all 0.6s ease 0.6s;
				transform: translate(0, 0);
			}
		}
		&:nth-child(6) {
			._watcher-view & {
				transition: all 0.7s ease 0.7s;
				transform: translate(0, 0);
			}
		}
		//.items_border-red
		&_border-red {
			border-top: 2px solid var(--hoverColorLink);
		}
		//.items_border-yellow
		&_border-yellow {
			border-top: 2px solid var(--pointerrColorText);
		}
		//.items_border-blue
		&_border-blue {
			border-top: 2px solid var(--hoverColorButton);
		}
	}
	// .card__item
	&__item {
		padding: rem(25);
	}
	// .card__heading
	&__heading {
		font-size: rem(18);
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: em(15);
		}
		// .card__heading_color-red
		&_color-red {
			color: var(--hoverColorLink);
		}
		// .card__heading_color-yellow
		&_color-yellow {
			color: var(--pointerrColorText);
		}
		// .card__heading_color-blue
		&_color-blue {
			color: var(--hoverColorButton);
		}
	}
	// .card__lists
	&__lists {
		display: flex;
		flex-direction: column;
		row-gap: rem(10);
	}
	// .card__list
	&__list {
	}
}
:root {
	--marquee-width: 100%;
	--marquee-height: 70px;
	--marquee-elements-displayed: 5;
	--marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
	--marquee-animation-duration: calc(var(--marquee-elements) * 2.5s);
}
.marquee {
	opacity: 0;
	position: relative;
	overflow: hidden;
	width: var(--marquee-width);
	height: var(--marquee-height);
	color: var(--mainColor);
	._watcher-view & {
		transition: opacity 1.5s ease 0.5s;
		opacity: 1;
	}
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 50, 30);
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 1;
		width: rem(160);
	}
	&::before {
		content: "";
		left: 0;
		background: linear-gradient(to right, var(--bgColorDark) 10%, transparent 100%);
	}
	&::after {
		content: "";
		right: 0;
		background: linear-gradient(to left, var(--bgColorDark) 10%, transparent 100%);
	}
	// .marquee__content
	&__content {
		height: 100%;
		display: flex;
		animation: scrolling var(--marquee-animation-duration) linear infinite;
	}
	// .marquee__list
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: var(--marquee-element-width);
		max-height: 100%;
		@include adaptiveValue("font-size", 40, 30);
		white-space: nowrap;
	}
	@keyframes scrolling {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
		}
	}
}
@media (max-width: $mobile) {
	:root {
		--marquee-elements-displayed: 4;
	}
}
@media (max-width: $mobileSmall) {
	:root {
		--marquee-elements-displayed: 3;
	}
}
