.lock body {
	overflow: hidden;
	touch-action: none;
	overscroll-behavior: none;
}

.loading body {
	opacity: 0;
	visibility: hidden;
}

.loaded body {
	transition: opacity 0.5s ease 0s;
	opacity: 1;
	visibility: visible;
}

/* Головний блок */
.fls-preloader {
	pointer-events: none;
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Блок з елементами */
.fls-preloader__body {
	padding: 0.93rem;
	max-width: 31.25rem;
	display: flex;
	flex-direction: column;
}

/* Блок з лічильником */
.fls-preloader__counter {
	font-size: 10rem;
}

/* Прогресбар */
.fls-preloader__line {
}

/* Лінія прогресбару */
.fls-preloader__line span {
	display: inline-block;
	transition: width 0.2s ease;
	height: 0.8rem;
	background-color: #7a956b;
}
